body {
    font-family: Arial;
    background: #f4f6f8;
    padding: 20px;
}

h1 {
    text-align: center;
}

.box {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    background: #d9534f;
    color: white;
    border: none;
    cursor: pointer;
}
